.panel, .panel-secondary, .panel-heading {
width: 100%;
left: 0;
}

.container { float: left;}
.table { float: left;
    overflow: auto;
}



th { text-align: center; }
/* tr, th {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    vertical-align: middle;
} */