<div class="container-fluid">
  <div class="container">
    <div class="panel panel-secondary">
      <div class="panel-heading">
        <button class="btn btn-primary btn-lg" (click)="onClickPaneToggle(true)">New</button>
        <button class="btn btn-primary btn-lg" (click)="onClickPaneToggle(false)">Current/History</button>
      </div>
    </div>
    <table class="table table-bordered" *ngIf="isNewPaneactive">
      <thead>
        <tr>
          <th>#</th>
          <th>Task</th>
          <!-- <th>Parameter</th> -->
          <th>Schedule</th>
          <th>Request</th>
          <th>Ticket</th>
          <th>Application</th>
          <th>Admin</th>
          <th>Creation</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-job [ngForOf]="jobList">
          <tr>
            <td>{{job.getJobId()}}</td>
            <td>{{job.getJobType()}}</td>
            <!-- <td>{{job.getJobParam()}}</td> -->
            <td>{{job.getStartTime()}}</td>
            <td>{{job.getRequestType()}}</td>
            <td>{{job.getRequestNumber()}}</td>
            <td>{{job.getApplication()}}</td>
            <td>{{job.getSubmittedBy()}}</td>
            <td>{{job.getSubmittedDate()}}</td>
            <td><button id={{job.getJobId()}} class="btn btn-danger" (click)="buildJob($event)">Build</button></td>
          </tr>
        </ng-template>
      </tbody>
    </table>
    <table class="table table-bordered" *ngIf="!isNewPaneactive">
      <tr>
        <th>Job ID</th>
        <th>Task</th>
        <th>Parameter</th>
        <th>Impacted CI</th>
        <th>Request Type</th>
        <th>RequestNumber</th>
        <th>Application</th>
        <th>Submitted By</th>
        <th>Submitted Date</th>
        <th>Old</th>
      </tr>
    </table>
  </div>
</div>