<div class="container-fluid">
  <form class="form-inline" [formGroup]="jobRenderer" (ngSubmit)="onSubmit()">
    <div class="panel-group">
      <div class="panel panel-secondary">
        <div class="panel-body">
          <table>
            <tr>
              <td style="text-align: center; padding-bottom: 10px; padding-right: 20px">
                <label for="aId">A-Id</label>
                <input type="text" readonly class="form-control" name="userName" formControlName="userName"/>
              </td>
              <td style="text-align:center; padding-bottom: 10px; padding-right: 20px">
                <label for="requestType">Request Type</label>
                <ss-multiselect-dropdown [options]="jobCreateModel.requestTypeOptions" [texts]="jobCreateModel.selectTextRenderer" [settings]="jobCreateModel.singleSelectEnabler"
                name="requestTypeOptionsModel" formControlName="requestTypeOptionsModel"></ss-multiselect-dropdown>
              </td>
              <td style="text-align:center; padding-bottom: 10px; padding-right: 20px">
                <label for="ticketNumber">Ticket Number</label>
                <input type="text" class="form-control" name="ticketNumber" formControlName="ticketNumber"/>
              </td>
              <td style="text-align:center; padding-bottom: 10px; padding-right: 20px">
                <label for="cerno">CER NO.</label>
                <input type="text" class="form-control" name="cerno" formControlName="cerNo"/>
              </td>
              <td style="text-align:center; padding-bottom: 10px; padding-right: 20px">
                <label for="spid">SPID</label>
                <input type="text" class="form-control" name="spid" formControlName="spid"/>
              </td>
              <td style="text-align:center; padding-bottom: 10px; padding-right: 20px">
                <label for="impactedCi">Impacted CI</label>
                <input type="text" class="form-control" name="impactedCi" formControlName="impactedCi"/>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="panel panel-secondary">
        <div class="panel-body">
          <table>
            <tr>
              <td style="text-align:center; padding-left: 50px; padding-right: 50px; padding-bottom: 20px">
                <label for="applications">Applications</label>
                <ss-multiselect-dropdown [options]="jobCreateModel.applicationOptions" [texts]="jobCreateModel.selectTextRenderer" [settings]="jobCreateModel.singleSelectEnabler"
                 name="applicationOptionsModel" formControlName="applicationOptionsModel"> 
                </ss-multiselect-dropdown>
              </td>
              <td style="text-align: center; padding-left: 50px; padding-right: 50px; padding-bottom: 20px">
                <label for="environment">Environment</label>
                <ss-multiselect-dropdown [options]="jobCreateModel.environmentOptions" [texts]="jobCreateModel.selectTextRenderer" [settings]="jobCreateModel.multiSelectEnabler"
                  name="environmentOptionsModel" formControlName="environmentOptionsModel"> </ss-multiselect-dropdown>
              </td>
              <td style="text-align: center; padding-left: 50px; padding-right: 50px; padding-bottom: 20px">
                <label for="type">Type</label>
                <ss-multiselect-dropdown [options]="jobCreateModel.typeOptions" [texts]="jobCreateModel.selectTextRenderer" [settings]="jobCreateModel.multiSelectEnabler"
                  name="typeOptionsModel" formControlName="typeOptionsModel"> </ss-multiselect-dropdown>
              </td>
              <td style="text-align: center; padding-left: 50px; padding-right: 50px; padding-bottom: 20px">
                <label for="technology">Technology</label>
                <ss-multiselect-dropdown [options]="jobCreateModel.technologyOptions" [texts]="jobCreateModel.selectTextRenderer" [settings]="jobCreateModel.multiSelectEnabler"
                  name="technologyOptionsModel" formControlName="technologyOptionsModel"> </ss-multiselect-dropdown>
              </td>
              <td style="text-align: center; padding-left: 50px; padding-right: 50px; padding-bottom: 20px">
                <label for="mode">Mode</label>
                <ss-multiselect-dropdown [options]="jobCreateModel.modeOptions" [texts]="jobCreateModel.selectTextRenderer" [settings]="jobCreateModel.multiSelectEnabler"
                  name="modeOptionsModel" formControlName="modeOptionsModel"> </ss-multiselect-dropdown>
              </td>
              <td style="text-align: center; padding-left: 50px; padding-right: 50px; padding-bottom: 20px">
                <label for="groupingOne">Domain/Cluster</label>
                <ss-multiselect-dropdown [options]="jobCreateModel.domainOptions" [texts]="jobCreateModel.selectTextRenderer" [settings]="jobCreateModel.multiSelectEnabler"
                  name="domainOptionsModel" formControlName="domainOptionsModel"> </ss-multiselect-dropdown>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; padding-left: 50px; padding-right: 50px; padding-bottom: 20px">
                <label for="groupingTwo">Profile/Cluster</label>
                <ss-multiselect-dropdown [options]="jobCreateModel.clusterOptions" [texts]="jobCreateModel.selectTextRenderer" [settings]="jobCreateModel.multiSelectEnabler"
                  name="clusterOptionsModel" formControlName="clusterOptionsModel"> </ss-multiselect-dropdown>
              </td>
              <td style="text-align: center; padding-left: 50px; padding-right: 50px; padding-bottom: 20px">
                <label for="vm">VM</label>
                <ss-multiselect-dropdown [options]="jobCreateModel.vmOptions" [texts]="jobCreateModel.selectTextRenderer" [settings]="jobCreateModel.multiSelectEnabler" 
                 name="vmOptionsModel" formControlName="vmOptionsModel"> </ss-multiselect-dropdown>
              </td>
              <td style="text-align: center; padding-left: 50px; padding-right: 50px; padding-bottom: 20px">
                <label for="jvm">JVM</label>
                <ss-multiselect-dropdown [options]="jobCreateModel.jvmOptions" [texts]="jobCreateModel.selectTextRenderer" [settings]="jobCreateModel.multiSelectEnabler"
                 name="jvmOptionsModel" formControlName="jvmOptionsModel"> </ss-multiselect-dropdown>
              </td>
              <td style="text-align: center; padding-left: 50px; padding-right: 50px; padding-bottom: 20px">
                <label for="task">Task</label>
                <ss-multiselect-dropdown [options]="jobCreateModel.taskOptions" [texts]="jobCreateModel.selectTextRenderer" [settings]="jobCreateModel.singleSelectEnabler"
                  name="taskOptionsModel" formControlName="taskOptionsModel"> </ss-multiselect-dropdown>
              </td>
              <td style="text-align: center; padding-left: 50px; padding-right: 50px; padding-bottom: 20px">
                <label for="artifact">Artifact</label>
                <ss-multiselect-dropdown [options]="jobCreateModel.artifactOptions" [texts]="jobCreateModel.selectTextRenderer" [settings]="jobCreateModel.multiSelectEnabler"
                  name="artifactOptionsModel" formControlName="artifactOptionsModel"> </ss-multiselect-dropdown>
              </td>
              <td style="text-align: center; padding-left: 50px; padding-right: 50px; padding-bottom: 20px">
                <label for="artifactPath">Artifact Path</label>
                <ss-multiselect-dropdown [options]="jobCreateModel.artifactPathOptions" [texts]="jobCreateModel.selectTextRenderer" [settings]="jobCreateModel.multiSelectEnabler"
                  name="artifactPathOptionsModel" formControlName="artifactPathOptionsModel"> </ss-multiselect-dropdown>
              </td>
            </tr>
          </table>
          <div class="container">
            <div class="row">
              <div class="col-md-11 text-center">
                <button type="submit" class="btn btn-success btn-lg"> Submit </button>
                <button type="reset" class="btn btn-danger btn-lg" (onclick)="onReset()"> Reset </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>