<div class="container">
    <div class="login-box">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-login">
            <div class="panel-heading">
              <div class="row">
                <div class="col-lg-4">
                  <h1> <i class="glyphicon glyphicon-log-in"></i> Login</h1>
                </div>
              </div>
              <hr>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12">
                  <form [formGroup]="loginRenderer" id="login-form" class="login" style="display: block;" (ngSubmit)="onSignin()">
                    <div class="form-group">
                      <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input id="login-username" type="text" class="form-control" name="username" placeholder="username" formControlName="username">
                      </div>
                      <span *ngIf="!loginRenderer.get('username').valid && loginRenderer.get('username').touched" class="help-block">Please enter a valid username</span>
                    </div>
                    <div class="form-group">
                      <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password" formControlName="password">
                      </div>
                      <span *ngIf="!loginRenderer.get('password').valid && loginRenderer.get('password').touched" class="help-block">Please enter a valid password</span>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6 col-sm-offset-3">
                          <button type="submit" class="btn btn-primary btn-lg btn-block">Sign In</button>
                        </div>
                      </div>
                      <span class="help-block" *ngIf="!formValidated">Please enter valid username and password</span>
                      <span class="help-block" *ngIf="loginError">{{ loginError }} Please enter valid credentials</span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>